/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    #header .nav li {
        padding-left: 5px;
        left: 23px;
    }
    #header .nav a {
    padding: 8px 11px;
}
    #header .baner .one-p {
        font-size: 40px;
        margin-left: 133px;
        max-width: 675px;
    }
    #header .baner .two-p {
        font-size: 40px;
        margin: 12px 0 0 0;
        max-width: none;

    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

@media only screen and (min-width : 768px) and (max-width: 991px) {

}

@media only screen and (min-width : 992px) and (max-width: 1199px) {

}

/*------ Mobile First Method ------*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
