body {
    background-color: #515f68;
}
/* header */
#header {
    background: url("img/bgheader.jpg") no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 800px;
}
#header .nav {
    background: url("img/bgnav.png") no-repeat center;
    background-size: cover;
    height: 150px;
}
#header .nav p {
    font-family: "Segoe UI", sans-serif;
    color: #fff;
    font-size: 30px;
    padding-top: 53px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
#header .nav p span {
    color: #4bcaff;
    font-weight: bold;
}
#header .nav .one ul {
    padding-top: 67px;
    text-align:  right;
}
#header .nav .one li {
    font-family: "Segoe UI", sans-serif;
    display: inline-block;
    padding-left: 9px;
    font-weight: bold;
    font-size: 14px;
    position:relative;
    left:15px;
}
#header .nav .one li:first-child {
    padding-left: 0;
}
#header .nav .one a {
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
    border: 2px solid rgba(53, 62, 70, 0);
}
#header .nav .one a:hover {
    border-color: #4bcaff;
    color: #4bcaff;
}
#header .baner .one-p {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 42px;
    color: #fff;
    text-align: center;
    background-color: rgba(53, 62, 70, 0.8);
    margin-left: 214px;
    max-width: 710px;
}
#header .baner .two-p {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 42px;
    color: #fff;
    text-align: center;
    background-color: rgba(53, 62, 70, 0.8);
    margin: 12px 0 0 75px;
    max-width: 990px;
}
#header .baner {
    margin-top: 250px;
}
/* burger-menu */
#header .nav .burger-menu .main-item {
    display: none;
}
#header .nav .burger-menu .main-item {
    display: block;
}
#header .nav .burger-menu .navigation li {
    display: block;
}
#header .nav .burger-menu {
    padding:0
}
#header .nav .burger-menu a {
    text-decoration: none;
    color: #fff;
}
#header .nav .burger-menu .main-item {
    font-size: 48px;
    text-align:right;
    margin-top:-50px;
    padding-right:12px;
}
#header .nav .burger-menu .navigation {
    margin-top: 37px;
    text-align:center;
    background-color: rgba(53, 62, 70, 0.3);
}
#header .nav .burger-menu .navigation li {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#header .nav .burger-menu .navigation li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#header .nav .burger-menu .navigation li a:hover {
    color:#4bcaff;
    font-weight: bold;
}
/* content */
/* part-one */
#content .part-one {
    min-height: 405px;
    background-color: #4bcaff;
}
#content .part-one h1,
#content .part-one h2,
#content .part-one h3,
#content .part-one p {
    color:#fff
}
#content .part-one h1 {
    padding-top: 70px;
    margin: 0;
    font: 30px "Segoe UI Light" , sans-serif;
}
#content .part-one h1 span {
    border-bottom: 2px solid #fff;
}
#content .part-one .img1 {
    padding-top: 40px;
}
#content .part-one h2,
#content .part-one h3 {
    padding-top: 14px;
    font: 24px "Segoe UI Semibold", sans-serif ;
}
#content .part-one p,
#content .part-one .p1 {
    padding-top: 20px;
    font: 12px "Segoe UI Semibold", sans-serif;
}
#content .part-one img:not(:nth-child(2)) {
    padding-top: 150px;
}
#content .part-one .htwo {
    padding-top: 16.5px;
}
/* part-two */
#content .part-two {
    min-height: 845px;
    background-color: #fff;
}
#content .part-two h1 {
    padding-top: 68px;
    margin: 0;
    font: 30px "Segoe UI Light", sans-serif;
    color: #515f67;
}
#content .part-two h1 span {
    border-bottom: 2px solid #515f67;
}
#content .part-two nav {
    padding-top: 89px;
    text-align:  right;
}
#content .part-two nav li {
    display: inline-block;
    padding-left: 9px;
    position:relative;
    left: 15px;
    font: bold 14px "Segoe UI", sans-serif;
}
#header .nav .one li:first-child {
    padding-left: 0;
}
#content .part-two nav a {
    border: 2px solid rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #515f67;
    padding: 8px 18px;
}
#content .part-two nav a:hover {
    border-color: #4bcaff;
    color: #4bcaff;
}
#content .part-two .catalogue img {
    padding-bottom: 30px;
}
#content .part-two .catalogue {
    margin-top:70px;
}
#content .part-two .catalogue a:hover {
    cursor: url("img/cursor.png"), crosshair;
    opacity:0.9;
}
/* part-three */
#content .part-three {
    min-height: 472px;
    background-color: #515f67;
}
#content .part-three .row {
    padding-top: 79px;
}
#content .part-three h1,
#content .part-three p {
    color: #fff;
}
#content .part-three h1 {
    margin: 0;
    position:relative;
    bottom:11px;
    font: 30px "Segoe UI Light", sans-serif;
}
#content .part-three h1 span {
    border-bottom: 2px solid #fff;
}
#content .part-three p {
    padding: 29px 81px 0 0;
    font: 14px "Segoe UI", sans-serif;
}
#content .part-three h2 {
    padding-top: 51px;
    font: bold 14px "Segoe UI", sans-serif;
}
#content .part-three a {
    padding: 12px 40px;
    border: 2px solid #353f46;
    text-decoration: none;
    color: #353f46;
}
#content .part-three a:hover {
    color: #337ab7;
    border: 2px solid #337ab7;
}
/* part-four */
#content .part-four {
    min-height: 305px;
    background-color: #4bcaff;
}
#content .part-four .row {
    padding-top: 70px;
}
#content .part-four h1,
#content .part-four p {
    position:relative;
    left:15px;
    color:#fff;
}
#content .part-four h1 {
    margin: 0;
    font: 30px "Segoe UI Light" , sans-serif;
}
#content .part-four h1 span {
    border-bottom: 2px solid #fff;
}
#content .part-four p {
    padding-top: 36px;
    font: 28px "Segoe UI Light", sans-serif;
}
#content .part-four p .bold {
    font-family: "Segoe UI Semibold", sans-serif;
}
#content .part-four br {
    line-height: 50px;
}
#content .part-four img {
    padding: 9px 0 0 40px;
    min-width:28px;
}
#content .part-four .col-sm-11 {
    padding: 0 0;
}
/* part-five */
#content .part-five {
    min-height: 505px;
    background-size: cover;
    background: url("img/bg_footer.jpg") center no-repeat;
}
#content .part-five h1,
#content .part-five p {
    color:#fff;
}
#content .part-five h1 {
    padding-top: 89px;
    margin: 0;
    font: 30px "Segoe UI Light", sans-serif;
}
#content .part-five h1 span {
    border-bottom: 2px solid #fff;
}
#content .part-five p {
    font: 14px "Segoe UI", sans-serif;
}
#content .part-five .p_1 {
    padding-top: 40px;
}
#content .part-five .p_3 {
    padding-top: 169px;
}
#content .part-five .p_2 {
    padding: 29px 2px 0 0;
}
#content .part-five .images {
    padding-top: 33px;
}
#content .part-five .img {
    padding-right: 16px;
    display: inline;
}
#content .part-five .one:hover {
    background-color: #4bcaff;
}
#content .part-five .two:hover {
    background-color: #B22222;
}
#content .part-five .three:hover {
    background-color: #FF8C00;
}
#content .part-five .four:hover {
    background-color: #A0522D;
}
/* part-six */
#content .part-six {
    min-height: 360px;
    background-color: #fff;
}
#content .part-six .row {
    padding-top: 70px;
}
#content .part-six h1 {
    margin: 0;
    font: 30px "Segoe UI Light" ,sans-serif;
}
#content .part-six h1 span {
    border-bottom: 2px solid #515f67;
}
#content .part-six h1,
#content .part-six .p_1 {
    position:relative;
    left:15px;
    color: #515f67;
}
#content .part-six .p_1 {
    padding-top: 30px;
    font: 28px "Segoe UI Light", sans-serif;
    line-height: 50px;
}
#content .part-six .p_2 {
    position:relative;
    left:15px;
    padding-top: 26px;
    font: bold 14px "Segoe UI", sans-serif;
    color: #4bcaff;
}
#content .part-six img {
    padding: 11px 0 0 37px;
    min-width: 30px;
}
#content .part-six .col-sm-11 {
    padding: 0 0;
}
/* part-seven */
#content .part-seven {
    min-height: 815px;
    background: #515f67 url("img/bg_footer_2.jpg") center no-repeat;
    background-size: cover;
}
#content .part-seven h1 {
    margin: 0;
    padding-top: 70px;
    font: 30px "Segoe UI Light" ,sans-serif;
    color: #fff;
}
#content .part-seven h1 span {
    border-bottom: 2px solid #fff;
}
#content .part-seven .l_1 {
    padding-top: 39px;
}
#content .part-seven .l_3,
#content .part-seven .l_2 {
    padding-top: 34px;
}
#content .part-seven label {
    display: block;
    font: bold 14px "Segoe UI", sans-serif;
    color: #fff;
}
#content .part-seven textarea {
    margin-top: 6px;
    height: 220px;
    width: 1139px;
    resize: none;
    overflow: auto;
    border: 2px solid #fff;
}
#content .part-seven input {
    margin-top: 6px;
    height: 60px;
    width: 470px;
    border: 2px solid #fff;
}
#content .part-seven input,
#content .part-seven textarea {
    background-color: transparent;
    text-indent: 15px;
    outline: 0;
}
#content .part-seven button {
    height: 60px;
    width: 370px;
    margin-top: 35px;
    font: bold 14px "Segoe UI", sans-serif;
    color: #fff;
    background-color: #4bcaff;
    border: none;
    transition: .6s;
}
#content .part-seven button:hover {
    border: 1px solid #353f46;
    background-color: #fff;
    color: #515f67;
    transition: .6s;
}
#content .part-seven .p_1,
#content .part-seven .p_2 {
    font: 14px "Segoe UI Semibold", sans-serif;
    color: #fff;
    line-height: 23px;
}
#content .part-seven .p_1 {
    padding-top: 168px;
}
#content .part-seven .p_2 {
    padding-top: 33px;
}
#content .part-seven input:focus,
#content .part-seven textarea:focus {
    border: 2px solid #4bcaff;
}
#content .part-seven .contact_form {
    font: 20px "Segoe UI", sans-serif;
    color:#fff;
}
/* footer */
#footer {
    min-height: 170px;
    background-color: #353f47;
}
#footer .row {
    padding-top: 70px;
}
#footer li {
    padding: 0 13px 0 9px;
    border-right: 2px solid #515f67;
    display: inline-block;
    font: 12px "Segoe UI Semibold", sans-serif;
}
#footer li:last-child {
    padding-right: 0;
    border: none;
}
#footer li:first-child {
    padding-left:0;
}
#footer p {
    font: 12px "Segoe UI Semibold", sans-serif;
    color: #515f67;
    float: right;
}
#footer a {
    text-decoration: none;
    color: #515f67;;
}
#footer a:hover {
    color: #fff;
}
/* fixed */
.cbalink {
   display:none;
}