body {
    background-color: #515f68;
}
/* header */
#header {
    background: url("img/bgheader.jpg") no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 800px;
}
#header .nav {
    background: url("img/bgnav.png") no-repeat center;
    background-size: cover;
    height: 150px;
}
#header .nav p {
    font-family: "Segoe UI", sans-serif;
    color: #fff;
    font-size: 30px;
    padding-top: 53px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
#header .nav p span {
    color: #4bcaff;
    font-weight: bold;
}
#header .nav .one ul {
    padding-top: 67px;
}
#header .nav .one li {
    font-family: "Segoe UI", sans-serif;
    display: inline;
    padding-left: 9px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    position:relative;
    left: 40px
}
#header .nav .one li:first-child {
    padding-left: 0;
}
#header .nav .one a {
    text-decoration: none;
    color: #fff;
    padding: 8px 18px;
}
#header .nav .one a:hover {
    border: 2px solid #4bcaff;
    color: #4bcaff;
}
#header .baner .one-p {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 42px;
    color: #fff;
    text-align: center;
    background-color: rgba(53, 62, 70, 0.8);
    margin-left: 214px;
    max-width: 710px;
}
#header .baner .two-p {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 42px;
    color: #fff;
    text-align: center;
    background-color: rgba(53, 62, 70, 0.8);
    margin: 12px 0 0 75px;
    max-width: 990px;
}
#header .baner {
    margin-top: 250px;
}
/* burger-menu */
#header .nav .burger-menu .main-item {
    display: none;
}
#header .nav .burger-menu .main-item {
    display: block;
}
#header .nav .burger-menu .navigation li {
    display: block;
}
#header .nav .burger-menu {
    padding:0
}
#header .nav .burger-menu a {
    text-decoration: none;
    color: #fff;
}
#header .nav .burger-menu .main-item {
    font-size: 48px;
    text-align:right;
    margin-top:-50px;
    padding-right:12px;
}
#header .nav .burger-menu .navigation {
    margin-top: 37px;
    text-align:center;
    background-color: rgba(53, 62, 70, 0.3);
}
#header .nav .burger-menu .navigation li {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#header .nav .burger-menu .navigation li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#header .nav .burger-menu .navigation li a:hover {
    color:#4bcaff;
    font-weight: bold;
}
/* content */
/* part-one */
#content .part-one {
    min-height: 405px;
    background-color: #4bcaff;
}
#content .part-one h1,
#content .part-one h2,
#content .part-one h3,
#content .part-one p {
    color:#fff
}
#content .part-one h1 {
    padding-top: 70px;
    margin: 0;
    font: 30px "Segoe UI Light" , sans-serif;
}
#content .part-one h1 span {
    border-bottom: 2px solid #fff;
}
#content .part-one .img1 {
    padding-top: 40px;
}
#content .part-one h2,
#content .part-one h3 {
    padding-top: 14px;
    font: 24px "Segoe UI Semibold", sans-serif ;
}
#content .part-one p,
#content .part-one .p1 {
    padding-top: 20px;
    font: 12px "Segoe UI Semibold", sans-serif;
}
#content .part-one img:not(:nth-child(2)) {
    padding-top: 150px;
}
#content .part-one .htwo {
    padding-top: 16.5px;
}
/* part-two */
#content .part-two {
    min-height: 845px;
    background-color: #fff;
}
#content .part-two h1 {
    padding-top: 68px;
    margin: 0;
    font: 30px "Segoe UI Light", sans-serif;
    color: #515f67;
}
#content .part-two h1 span {
    border-bottom: 2px solid #515f67;
}
#content .part-two nav {
    padding-top: 89px;
}
#content .part-two nav li {
    display: inline;
    padding-left: 9px;
    position:relative;
    left: 40px;
    text-align: center;
    font: bold 14px "Segoe UI", sans-serif;
}
#header .nav .one li:first-child {
    padding-left: 0;
}
#content .part-two nav a {
    text-decoration: none;
    color: #515f67;
    padding: 8px 18px;
}
#content .part-two nav a:hover {
    border: 2px solid #4bcaff;
    color: #4bcaff;
}
#content .part-two .catalogue img {
    padding:14px;
}
#content .part-two .catalogue {
    margin-top:70px;
}
#content .part-two .catalogue a:hover {
    cursor: url("img/cursor.png"), crosshair;
    opacity:0.9;
}